/* Override fonts and font size */
@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, input, select, textarea, button {
    font-family: 'Fira Code', monospace !important;
    font-size: 16px !important;
    color: #e0e0e0 !important;
    background-color: #1e1e1e !important;
}
